<div id="segment-footer" class="segment">  <!-- segment-footer -->
  <div class="container">  <!-- container -->
   <div class="inner-wrapper">
    <p>
        <span>
        Links: <a style="color: #81BEF7" href="index.html">Home</a> | 
          <a style="color: #81BEF7" href="http://hl7.org/fhir/search.cfm">Search<img style="text-align: baseline" src="external.png"/></a> |
          <a style="color: #81BEF7" href="license.html">HEDIS License</a> |
          <a style="color: #81BEF7" target="_blank" href="https://github.com/cqframework/hedis-ig/issues/new">Propose a change <img style="text-align: baseline" src="external.png"/></a>
        </span>
        <br/>
        <span>© 2018 by the National Committee for Quality Assurance, all rights reserved.</span>
      </p>
      
   </div>  <!-- /inner-wrapper -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

 <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
  <div class="container">  <!-- container -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-post-footer -->

      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script src="dist/js/bootstrap.min.js"> </script>
<script src="assets/js/respond.min.js"> </script>

<script src="assets/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->
</body>
</html>