 <div id="segment-header" class="segment">  <!-- segment-header -->
  <div class="container flex">  <!-- container -->
   <a id="logo" no-external="true" href="http://hl7.org/fhir"><img alt="fhir logo" src="assets/images/fhir-logo-www.png"/> </a>
   <div id="hl7-status">
    <strong>HEDIS® Implementation Guide</strong>
   </div>

   <!-- <div id="hl7-nav">
     <a id="hl7-logo" no-external="true" href="http://www.hl7.org">
     <img height="50" alt="visit the hl7 website" width="42" src="assets/images/hl7-logo.png"/>
    </a>
   </div>
   <div id="hl7-nav"><a id="hl7-logo" no-external="true" href="http://hl7.org/fhir/search.cfm"><img alt="Search FHIR" src="assets/images/search.png"/></a></div> -->
  </div>
  <div class="container">  <!-- container -->
 </div></div>  <!-- /segment-header -->

 <div class="segment">  <!-- segment-navbar -->
  <div class="container">  <!-- container -->
   <!-- HEADER CONTENT -->

   <nav class="navbar navbar-inverse">
    <div class="container">
     <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
     </button>
     <a class="navbar-brand hidden" href="{{site.data.fhir.path}}index.html">FHIR</a>
     <div class="nav-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html" class="item">Home</a></li>
        <li><a href="libraries.html" class="item">Libraries</a></li>
        <li><a href="measures.html" class="item">Measures</a></li>
        <li><a href="profiles.html" class="item">Profiles</a></li>
        <li><a href="test-data.html" class="item">Test Data</a></li>
        <li><a href="documentation.html" class="item">Documentation</a></li>
        <li><a href="downloads.html" class="item">Downloads</a></li>
        <li><a href="measure-test-patients.html" class="item">Measure Test Patients</a></li>
      </ul>

     </div>  <!-- /.nav-collapse -->
    </div>  <!-- /.container -->
   </nav>  <!-- /.navbar -->

  <!-- /HEADER CONTENT -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-navbar -->
