/* Styles specific to the NCQA HEDIS IG */

.code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  color:black;
  background-color:rgb(250,250,250);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  line-height: 1.5em;
  font-size: 13px;
  overflow: auto;
}

.copy {
  padding: 1rem;
}

.copy p {
  font-size: 75%;
}

.navbar-nav li {
  margin: 0;
}

.navbar-nav li a:not(.item) {
  display: none;
}

.p-l-10 {
  padding-left: 10px;
}

.cql-keyword {
  color: rgb(0, 0, 255);
  font-weight: 700;
}

.cql-string {
  color: rgb(163, 21, 21);
}

.cql-variable, .cql-property {
  color: rgb(128, 0, 0);
}

.cql-class, .cql-object {
  color: rgb(25, 127, 157);
}

.cql-literal, .cql-operator {
  color: rgb(64,64,64);
}

.cql-interface {
  color: rgb(43, 170, 175);
}


#ncqa-logo {
  float: left;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  display: block;
}

#ncqa-logo img {
  max-width: 100%;
}

.container.flex {
  display: flex;
  align-items: center;
}

/*  */
/* Overrides */
/*  */

#logo {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.navbar-inverse {
  background-color: #39728d;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgb(33, 66, 82);
}

.navbar-nav { 
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-nav > li > a {
  border-radius: 0;
}

#hl7-status {
  line-height: 1rem;
  float: left;
  margin-top: 0;
  color: rgb(33, 66, 82);;
}

#segment-header {
  background-color: #f5f5f5;
}

#segment-header > .container {
  background-color: #f5f5f5;
}

#segment-footer {
  background-color: #39728d;
}

#segment-footer > .container {
  background-color: #39728d;
  color: #ffffff;
}

#segment-footer p {
  padding-bottom: 0;
  margin: 0;
}

.breadcrumb li {
  margin: 0;
}