.code {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    color:black;
    background-color:rgb(250,250,250);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    line-height: 1.5em;
    font-size: 13px;
    overflow: auto;
}

.p-l-10 {
    padding-left: 10px;
}

.cql-keyword {
    color: rgb(0, 0, 255);
    font-weight: 700;
}

.cql-string {
    color: rgb(163, 21, 21);
}

.cql-variable, .cql-property {
    color: rgb(128, 0, 0);
}

.cql-class, .cql-object {
    color: rgb(25, 127, 157);
}

.cql-literal, .cql-operator {
    color: rgb(64,64,64);
}

.cql-interface {
    color: rgb(43, 170, 175);
}